.lnr-mustache {
    display: block;
    color:dodgerblue;
    font-size: 40px;
    margin-bottom: 10px;
}

.lnr-eye {
    display: block;
    color:dodgerblue;
    font-size: 40px;
    margin-bottom: 10px;
}

.lnr-heart {
    display: block;
    color:dodgerblue;
    font-size: 40px;
    margin-bottom: 10px;
}
.lnr-users {
    display: block;
    color:dodgerblue;
    font-size: 40px;
    margin-bottom: 10px;
}

.lnr-smile {
    display: block;
    color:dodgerblue;
    font-size: 40px;
    margin-bottom: 10px;
}

.lnr-thumbs-up {
    display: block;
    color:dodgerblue;
    font-size: 40px;
    margin-bottom: 10px;
}
#features .features_back {
  position: relative;
}

.features_layout {
    padding:0px 40px;

}


.marginTop2 {
    margin-top: 2em;
}
.features_content {
    position: relative;
    z-index: 2;
    cursor: pointer;
}

#features .backgrounds {
 position: absolute;
 top:0;
 left:0;
 height: 100%;
 width:100%;
 background-size: 25%;
 background-position: 100% 100%;
 box-shadow: 5px 7px 10px 0 rgba(35,43,48,0.06);
 border: 1px solid rgba(0,0,0,0.04);
 opacity: 0;
 cursor: pointer;
 background-repeat: no-repeat;
 transition: transform 175ms ease, opacity 175ms ease;
}

@media(min-width:992px) {
#features .features_layout:hover .backgrounds {
    opacity: 1;
    transform: scale(1.2,1.2);
    background-color: #ffffff;
    z-index: 1;
}
}


#features h5 {
    margin-bottom: 8px;
}



